/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

figure.highlight
    color: #d3d0c8
    border:1px solid #ffea00
    background: #2d2d2d
    border-radius: 4px
    .code
        /* Tomorrow Comment */
        .comment,
        .quote
            color: #999999
        .value
            color: #99cc99
        /* Tomorrow Red 
        .variable,
        .template-variable,
        .tag,
        .name,
        .selector-id,
        .selector-class,
        .regexp,
        .deletion
            color: #f2777a*/

        /* Tomorrow Orange */
        .number,
        .built_in,
        .builtin-name,
        .literal,
        .type,
        .params,
        .meta,
        .link
            color: #d3d0c8

        /* Tomorrow Yellow */
        .attribute
            color: #f99157

        /* Tomorrow Green */
        .string,
        .symbol,
        .bullet,
        .addition
            color: #99cc99

        /* Tomorrow Blue */
        .title,
        .section
            color: #f2777a

        /* Tomorrow Purple */
        .keyword,
        .selector-tag
            color: #cc99cc

        .emphasis
            font-style: italic

        .strong
            font-weight: bold
figure.highlight:hover
    box-shadow: 0 0 8px rgba(255, 234, 0, 0.7)
    transition: box-shadow .5s linear

.article-entry figure.highlight table
    border: 0;
